html, body{
    margin: 0;
    padding: 0;
    font-size: 12px;
    font-family: helvetica;
}
nav{
    display: flex;
    justify-content: space-between;
    background-color:    #0cc80c;
    padding: 10px;
    align-items: center;
}
    

nav .img img{
    height: 50px;
    width: 50x;
}
nav ul {
    display: flex;
   
}
nav li{
    margin-right: 10px;
    list-style: none;
    padding-left: 10px;
    
}
nav li a {
    font-size: 16px;
    color: black;
    text-decoration:none;
}
nav li a:hover{
    color: white;
}
.secction h1{
    padding: 150px 100px;
}
.content{
    display:grid;
   grid-template-columns: repeat(2, 1fr);
   grid-template-rows: repeat(2, 1fr) ;
  
   padding: 10px 100px 100px;
  
}
.content .img_content_2{
    margin-top: 10px;
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start:2 ;
    grid-row-end:3 ;
}
.content_text_2{
    margin-top: 10px;
    grid-row-start:2 ;
    grid-row-end:3 ;
}
.img_content_2{
    text-align: center;
    
}
footer{
    background: #313337 0% 0% no-repeat padding-box;
    height: 100%;
    display: flex;
    justify-content: space-between;
    color: white;
    font-size: 8px;
}
.footer{
    margin: 3px 20px;
}
