body{
    background: #313337;
}
.contenedor{
    width: 100%;
    height: 100%;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 100px auto;
}
.contenedor img{
    width: 200px;
    height: 200px;
    object-fit: contain;
}
.contenedor .cone{
    color: white;
}
p{
    color: #EEEEEE;
    text-align: center;
}
.contenedor a{
    color: #7ACC2D;
}