html, body{
    margin: 0;
    padding: 0;
    font-size: 12px;
    font-family: helvetica;
}
nav{
    display: flex;
    justify-content: space-between;
    background-color:    #0cc80c;
    padding: 10px;
    align-items: center;
}
    

nav .img img{
    height: 50px;
    width: 50x;
}
nav ul {
    display: flex;
   
}
nav li{
    margin-right: 10px;
    list-style: none;
    padding-left: 10px;
    
}
nav li a {
    font-size: 16px;
    color: black;
    text-decoration:none;
}
nav li a:hover{
    color: white;
}
.seccion{
    display: flex;
    flex-direction: column;
    margin: 80px 150px;
}
.seccion h2{
    font-size: 35px;
}
.seccion .text_con{
    margin-top: 50px;

}
footer{
    background: #313337 0% 0% no-repeat padding-box;
    height: 100%;
    display: flex;
    justify-content: space-between;
    color: white;
    font-size: 8px;
}
.footer{
    margin: 3px 20px;
}
